	{% if page.layout == 'amp' %}
		<p>どうしてこうなるんだろう…</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = 'You Door All Dalao Except Me I good vegetable ah...';
			fortune[1] = 'すべてはシュタインズ・ゲートの選択である!';
			fortune[2] = 'Pen Pineapple Apple Pen ~';
			fortune[3] = 'なんでそんなに慣れてんだよっ！';
			fortune[4] = 'あたしが、先だった……先だったんだ……';
			fortune[5] = '+1s +1s +1s +1s +1s +1s +1s +1s';
			fortune[6] = 'どうしてこうなるんだろう…';
			fortune[7] = '你也配姓趙？你怎麼會姓趙！——你那裡配姓趙！';
			fortune[8] = '你才是法師！你全家都是法師！';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>どうしてこうなるんだろう…</noscript>
	{% endif %}
